.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.header {
  background-color: #9b2f65;
  color: white;
  padding: 10px;
}

.top-row {
  background-color:#92285e ;
  color: white;
  padding: 15px;
  border-top: 0.1px solid rgba(204, 196, 196,0.5)
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 1;
  background-color: #9b2f65;
  padding: 10px;
  border-top: 0.1px solid rgba(204, 196, 196,0.5);
  border-right: 0.1px solid rgba(204, 196, 196,0.5)
}

.content {
  flex: 4.5;
  background-color:  #b03573;
  padding: 10px;
  border-top: 0.1px solid rgba(204, 196, 196,0.5)
}

