.list-container {
    display: flex;
    justify-content: space-around;
  }

.list-container1 {
    display: flex;
    flex-direction: column;
    background: #e3e0e0;
    padding: 25px;
    border-radius: 10px;
    width: 200px;

  }
  
  
  .card {
    display: flex;
    align-items: center;
    margin-bottom: 7px; /* Add some space between cards */
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 180px; 
    height: 20px;
  }

  #addButton {
    height: 5px;
    background-color: #e3e0e0;
    border: none;
  }

  
  
 
  
