.list-container {
    display: flex;
    flex-direction: column;
    background: #e3e0e0;
    padding: 25px;
    border-radius: 10px;
    width: 220px;

  }

  .list h5 {
    margin-top: 0.01px;
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .addButton {
    cursor: pointer; 
  }

  .card {
    display: flex;
    align-items: center;
    margin-bottom: 7px; 
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    width: 200px; 
    height: 20px;
    font-weight: normal;
    cursor: pointer;
  }

  .card:hover {
    border-color: blue;
  }
  .card h6 {
    font-weight: 400;
    font-size: 13px;
  }
  
  
  button h5 {
    margin-left: 16px;
    font-weight: 550;
    font-size: 13px;
    color: white;
    margin-top: 14px;
  }

  


  
  
 
  
